body {
    display: flex;
    overflow:hidden;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: #000;
    display: flex;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: middle;
    font-family: 'Raleway', sans-serif;
    user-select: none!important;
}

#desktop-warning {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 24px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
h1 {
    padding: 0 3rem;
    font-size:10rem;
    line-height: 0.5;
}
p {
    padding: 0 3rem;
    font-size: 30px;
}

#welcomeScreen {
    z-index: 15;
    height: 100%;
    display: flex;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: 2s ease-in 0s 1 fadein;
    filter: drop-shadow(10px 10px 100px #fafcc2);
}
#welcomeScreen img {
    width: 100%;
}
#welcomeScreen button {
    width: 50%;
    background-color: #ff256c;
    border-radius: 10px;
    padding: 10px 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 5px 15px #000000;
    color: black;
}
#welcomeScreen button::before {
    animation: shine 2s ease-in-out infinite;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: -100%;
    overflow: hidden;
    transition: all 2s ease-in-out;
    background: linear-gradient( 120deg, transparent, rgba(255, 255, 255, 0.75), transparent);
}

@keyframes fadein {
    0% {
        filter: drop-shadow(10px 10px 200px #fafcc2);
        opacity: 0;
    }
    100% {
        filter: drop-shadow(10px 10px 100px #fafcc2);
        opacity: 1;
    }
}

@keyframes pulsate {
    0% { transform: scale(0.90) rotate(-5deg) translate(-5px); }
    25% { transform: scale(0.94) rotate(0deg) translate(0px); }
    50% { transform: scale(0.90) rotate(5deg) translate(5px); }
    75% { transform: scale(0.94) rotate(0deg) translate(0px); }
    100% { transform: scale(0.9) rotate(-5deg) translate(-5px); }
}

@keyframes shine {
    0% {
      left: -100%;
      transition-property: left;
    }
    11.5044247788%, 100% {
      left: 100%;
      transition-property: left;
    }
}

#invitationMessage {
    display: none; 
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-size: 15px;
    animation: fadein 2s ease-in 0s 1;
    filter: drop-shadow(10px 10px 100px #fafcc2);
    text-align: center;
    color: #fafcc2;
}
#invitationMessage img {
    animation: pulsate 0.7s linear 0s infinite;
    width: 95%;
}
#invitationMessage table {
    filter: drop-shadow(0px 2px 5px rgba(0,0,0,075));
}
td {
    text-align: left;
    width: 150px;
    font-weight: bold;
}
td:nth-of-type(2) {
    text-align: center;
    width: 30px;
    font-size: 25px;
}
td:first-of-type {
    width: 150px;
    text-align: right;
    font-weight: normal;
}
#invitationMessage button {
    margin-top: 20px;
    color: black;
}

canvas.webgl {
    filter:blur(5px) contrast(100%);
    transition: all 1s ease-in-out, transform 1s ease-in-out;
    z-index: 5;
    position:absolute;
    overflow:hidden;
    background: #fff;
    display: block;
    margin: 0 auto;
    /* Adjust these dimensions as needed */
    width: 100vw; /* Narrower width */
    height: 100dvh; /* Taller height */
}

#portraits {
    overflow: visible;
    position: absolute;
    top: 5%;
    width:100%;
    height: 25vw;
}
.portrait {
    position: absolute;
    right: -100%;
    top: 0;
    height: 95%;
    width: 60vw;
    background: rgba(250,252,194,0.5);
    z-index: 100;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    filter: drop-shadow(0px 0px 0px #fafcc2);
    box-shadow: 0px 5px 15px #fafcc2;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255,37,108,0.25);
    border-radius: 2vw 0 0 2vw;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 5.5vw;
}
.portrait span {
    padding: 2vw;
}
.portrait img {
    height: 80%;
    padding: 0 2vw;
}
.animated {
    right: -100%;
    animation: in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s, out 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s;
    animation-fill-mode: forwards, forwards;
}

@keyframes in {
    0% {
        right: -100%;
        box-shadow: 0px 0px 0px #fafcc2;
    }
    100% {
        right: 0%;
        box-shadow: 0px 0px 15px #fafcc2;
    }
}

@keyframes out {
    0% {
        right: 0%;
        box-shadow: 0px 0px 15px #fafcc2;
    }
    100% {
      right: -100%;
      box-shadow: 0px 0px 0px #fafcc2;
    }
}

canvas#breakoutCanvas {
    transition: all 1.5s ease-in-out, transform 1.5s ease-in-out;
    z-index: 10;
    position:absolute;
    overflow:hidden;
    background: transparent;
    display: block;
    margin: 0 auto;
    /* Adjust these dimensions as needed */
    width: 100vw; /* Narrower width */
    height: auto;
    aspect-ratio: 2 / 3;
    top: 0;
}